@font-face {
  font-family: 'prstartk';
  src: url('/404/f/prstartk.eot#iefix');
  src: url('/404/f/prstartk.eot') format('embedded-opentype'),
       url('/404/f/prstartk.woff2') format('woff2'),
       url('/404/f/prstartk.woff') format('woff'),
       url('/404/f/prstartk.ttf')  format('truetype'),
       url('/404/f/prstartk.svg#prstartk') format('svg');
}
