<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="card_block">
        <div class="b_title">
          <div class="page-header">
              <h3>Оформление заказа</h3>
          </div>
        </div>

        <div id="checkout" data-hook>
          <% @order.checkout_steps[0...-1].each do |state| %>
            <div class="row checkout_content <%= 'disabled-step' if state != @order.state %>" data-step="<%= state %>"data-hook="checkout_content" id="checkout_<%= state %>">
              <%= render :partial => 'form_wrapper', :locals => { :order => @order, :state => state } %>
            </div>
          <% end %>
        </div>


      </div>
    </div>
  </div>
</div>


