<fieldset id="order_details" data-hook>
  <div class="clear"></div>
  <p class="lead copy"><%= Spree.t(:confirm) %></p>
  <%= render partial: 'spree/shared/order_details', locals: { order: @order } %>
</fieldset>

<div>
  <textarea name="user_description" id="call_back_txt" cols="30" rows="20" class="copy" placeholder="Комментарий" style="resize: none; overflow-y: hidden; height: 70px; width: 100%;" aria-invalid="false">
  </textarea>
</div>

<div class="form-buttons" data-hook="buttons">
  <%= link_to '← Назад', cart_path, class: 'btn btn-info copy' %>
  <%= submit_tag Spree.t(:place_order), class: 'btn btn-primary pull-right copy' %>
  <script>
    Spree.disableSaveOnClick();
  </script>
</div>
