<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="card_block">
        <div class="b_title">
          <div class="page-header">
            <h3>Оформление заказа</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <% if need_auth?(user: current_spree_user, order: @order)%>
              <%= render "spree/checkout/one_step_auth"%>
            <% end %>
            <%= render partial: 'form_wrapper', locals: { order: @order, state: 'one_step' } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
