meta[charset='utf-8']
title
  = content_for?(:title) ? yield(:title) : 'KomiKomix | Магазин комиксов'

meta[name='viewport' content='width=device-width, initial-scale=1.0']
meta[name='w1-verification' content='130737760683']

- if current_page?('/') and Spree::YandexConfig[:webmaster_verification_enabled]
  meta[name='yandex-verification' content=Spree::YandexConfig[:webmaster_verification_code].to_s]

- page_data = Spree::Page.footer_about
- if page_data
  meta[name='description' content="#{strip_tags(page_data.body)}"]

== favicon_link_tag Spree::Config.logo
== javascript_include_tag 'application'
== stylesheet_link_tag 'application', media: 'all'
== csrf_meta_tags

= yield :head
