<%= form_tag root_path, method: :get, remote: true do %>
  <%= hidden_field_tag :taxon, '' %>
  <%= search_field_tag :keywords, params[:keywords], placeholder: 'Найди свой комикс...', class: 'form-control' %>
  <span class="input-group-btn">
    <button class="btn" type="button">
      <i class="fa fa-search"></i>
    </button>
  </span>
<% end %>

